#alluser{
position:absolute;
width:96%;
height:85%;
}
#user{
width:100%;
margin:0 auto;
padding:0px;
height:580px;
}
#usertb{
width:100%;
margin-left:10px;
margin-top:10px;
}
tr{
border:#DDDDDD solid 1px;
}
.himg{
height:50px;
width:50px;
}
#webmunber{
margin-left:30px;
width:300px;
}
.pre,.next{
cursor:pointer;
}
.openButton,.forbidButton{
height:25px; 
width:50px; 
padding:5px 8px;
border:1px solid #aaa;
border-radius:5px;
background-color:#59ACFF;
font-size:13px;
color:white;
border:none;
margin-left:8px;
font-weight:700;
cursor:pointer;
}
.opera{
	padding-left:20px;
}